

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MovieApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
   <div id=bcolor class="row">
     <div class="col-sm-0"></div>
     <div class="col-sm-4">
        <button class="btn btn-success" routerLink = "/home">Home</button>
     </div>
     <div class="col-sm-4">
       <button class="btn btn-success" routerLink = "/favourite">Favourite List</button>
      </div>
     <div class="col-sm-4"></div>
     </div>
     
 </li>
</ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="query"  [(ngModel)]="movie2.movieName" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchMovies(movie2.movieName)"
      data-toggle="modal" data-target="#myModal"
      >Search</button>
      
    </form>
  </div>
</nav>
<div class="container-fluid">

  <div class="col-12">
      <ngb-carousel>
          <ng-template ngbSlide>
              <img src="../assets/images/do.webp" alt="First slide">
              <div class="carousel-caption">
                  
              </div>
          </ng-template>

          <ng-template ngbSlide>
                  <img src="../assets/images/ek.webp" alt="Second slide">
                  <div class="carousel-caption">
                      
                  </div>
          </ng-template>

           <ng-template ngbSlide>
                      <img src="../assets/images/teen.webp" alt="Third slide">
                      <div class="carousel-caption">
                          
                      </div>
           </ng-template>  
           
           <ng-template ngbSlide>
                  <img src="../assets/images/11.webp" alt="Fourth slide">
                  <div class="carousel-caption">
                      
                  </div>
       </ng-template>  
      </ngb-carousel>
  </div>

  <br>
  <br>
  <h1>Popular English TV Shows</h1>

  <div id=bcolor class="row">
          <div class="col-sm-2">
            <div id=color class="card">
                  <img id="image" class="card-img-top" src="../assets/images/a.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Arrow</h5>
                <p class="card-text">Arrow is an American superhero television series developed by writer/producers Greg.</p>
             
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div id=color class="card">
                  <img id="image" class="card-img-top" src="../assets/images/b.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Big Bang Theory</h5>
                <p class="card-text">The Big Bang Theory is an American television sitcom created by Chuck Lorre.</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-2">
                  <div id=color class="card">
                          <img id="image" class="card-img-top" src="../assets/images/bb.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Breaking Bad</h5>
                      <p class="card-text">Breaking Bad is an American neo-western crime drama television series and did good.</p>
                     
                    </div>
                  </div>
          </div>
          <div class="col-sm-2">
                  <div id=color class="card">
                          
                          <img id="image" class="card-img-top" src="../assets/images/h.jpg" alt="Card image cap">
                    <div class="card-body">
                          <h5 class="card-title">HIMYM</h5>
                          <p class="card-text">How I Met Your Mother (often abbreviated to HIMYM) is an American sitcom.</p>
                      
                      
                    </div>
                  </div>
          </div>
          <div class="col-sm-2">
                  <div id=color class="card">
                          <img id="image" class="card-img-top" src="../assets/images/s.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Suits</h5>
                      <p class="card-text">Suits is an American legal drama television series created and written by Aaron Korsh. </p>
                     
                    </div>
                  </div>
          </div>
          <div class="col-sm-2">
                  <div id=color class="card">
                          <img id="image" class="card-img-top" src="../assets/images/f.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Friends</h5>
                      <p class="card-text">Friends is an American television sitcom, created by David Crane and Marta Kauffman</p>
                      
                    </div>
                  </div>
          </div>
        </div>
        <br>

       <h1>Popular Hindi Tv Shows</h1>

        <div id=bcolor class="row">
              <div class="col-sm-2">
                <div id=color class="card">
                      <img id="image" class="card-img-top" src="../assets/images/h1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Swaragini</h5>
                    <p class="card-text">Arrow is an American superhero television series developed by writer/producers Greg.</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div id=color class="card">
                      <img id="image" class="card-img-top" src="../assets/images/h2.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Kapil Show</h5>
                    <p class="card-text">The Big Bang Theory is an American television sitcom created by Chuck Lorre.</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                      <div id=color class="card">
                              <img id="image" class="card-img-top" src="../assets/images/h3.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Mahakali</h5>
                          <p class="card-text">Breaking Bad is an American neo-western crime drama television series and did very good.</p>
                          
                        </div>
                      </div>
              </div>
              <div class="col-sm-2">
                      <div id=color class="card">
                              
                              <img id="image" class="card-img-top" src="../assets/images/h4.jpg" alt="Card image cap">
                        <div class="card-body">
                              <h5 class="card-title">Bigg boss</h5>
                              <p class="card-text">Bigg boss (often abbreviated to BiggBoss) is an Indian sitcom and did good.</p>
                          
                          
                        </div>
                      </div>
              </div>
              <div class="col-sm-2">
                      <div id=color class="card">
                              <img id="image" class="card-img-top" src="../assets/images/h5.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Sasural Simar Ka</h5>
                          <p class="card-text">Suits is an American legal drama television series created and written by Aaron. </p>
                          
                        </div>
                      </div>
              </div>

              
              <div class="col-sm-2">
                      <div id=color class="card">
                              <div class="view overlay zoom">
                              <img id="image" class="card-img-top" src="../assets/images/h6.jpg" alt="Card image cap">
                              <div class="mask flex-center">
                                      
                                  </div>
                                  </div>
                        <div class="card-body">
                          <h5 class="card-title">Balika Vadhu</h5>
                          <p class="card-text">Friends is an American television sitcom, created by David Crane and Marta</p>
                         
                        </div>
                      </div>
              </div>
              
            </div>

            <app-footer></app-footer>

            <div class="container">
              <!---  <app-cards [movies]="movie"></app-cards> <app-cards></app-cards>-->
                </div>
                 <div class="modal fade" id="myModal" role="dialog">
                
                    <div class="modal-dialog">
                    
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Search Result</h4>
                        </div>
                        <div *ngIf = "flag">
                          <app-cards [myMovies]="movies"></app-cards>
                        </div>
                        
                     <div class="modal-body">
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div> 
                    </div>
                    </div>
                  </div>
                  
                  <!-- (click)="deleteFav(movie.movie_id)"-->